#header, /*Select header and footer using id, to style*/
#footer {
    background-color: #feb236; /*Color Supernova (Similar to orange)*/
    color: #6b5b95; /*Color for text*/
    font-size: 1.9em;
    text-align: center;
    height: 15vh; /*vh is a unit relative to 1% of the height of the viewport*/
}
#main {
    min-height: 70vh;
    display: flex;
}
article {
    flex: 4;
}
aside {
    flex: 2;
    background-color: #d64161; /*Color similar to red*/
}
img{
    max-width: 100%;
}
nav {
    flex: 1; /* This statement means flex-grow : 1;    ➜ The div will grow in same proportion as the window-size       
                                     flex-shrink : 1;  ➜ The div will shrink in same proportion as the window-size 
                                     flex-basis : 0;   ➜ The div does not have a starting value as such and will take up screen as per the screen size available for e.g:- if 3 divs are in the wrapper then each div will take 33%. background-color: #6b5b95; /*Color of the nav with the list of elements*/
    color: white;
}
nav ul {
    list-stype-type: none; /*Deletes the bullent points or numbers.*/
    margin: 0;
    padding: 0;
}
nav a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: red; /*The text of the items of the menu list becomes red when the mouse hover over them.*/
    text-decoration: underline;
}
.red {
    color: red;
}
